- title = @book.new_record? ? '入力' : '編集'
= provide(:title, "家計簿の#{title}")

- if logged_in?
  -# = current_user.name + "でログイン中..."

.row
  .col-sm-8
    = render 'shared/book_form'
  .col-sm-4
    = render 'shared/balance_by_account'

.row
  .col-sm-12.top-margin
    - if @book_view.updated_today.count > 0
      %h2.title.margin_bottom 家計簿の一覧（24時間以内の入力）
      = render 'shared/books', books: @book_view.updated_today
