- provide(:title, '事業経費カテゴリ別まとめ')

%table.table.books_list.table-striped.width-auto
  %tr
    %td= "#"
    - @report_target_terms.each do |term|
      %td= "%d-%02d" % [term[:year], term[:month]]
  - @categories.each do |category|
    %tr
      %td= category.name
      - @report_target_terms.each do |term|
        %td.right= get_report(report: @report, category_id: category.id, term: term).to_formatted_s(:delimited)
  %tr
    %td= "合計"
    - @report_target_terms.each do |term|
      %td.right= get_report_total(report: @report, term: term).to_formatted_s(:delimited)
