%div.books_list_area
  %table.table.table-hover.books_list
    %thead
      %tr
        %th 日付
        %th 入力者
        %th 口座
        %th 入出金
        %th カテゴリ
        %th 摘要
        %th 入金
        %th 出金
        %th.center 共通
        %th.center 事業
        %th.center 特別
        %th 修正
        %th 削除
    %tbody
      - books.each do |book|
        %tr{:class => book.common? ? "book-common-user-" + book.user.id.to_s : ''}
          %td= book.books_date
          %td= book.user.name
          %td= book.account.name
          %td= book.deposit? ? '入金' : '出金'
          %td= book.category.nil? ? '-' : book.category.name
          %td= book.summary
          %td.books_number= book.deposit? ? book.amount.to_formatted_s(:delimited) : '-'
          %td.books_number= book.deposit? ? '-' : book.amount.to_formatted_s(:delimited)
          %td.center= book.common? ? 'o' : '-'
          %td.center= book.business? ? 'o' : '-'
          %td.center= book.special? ? 'o' : '-'
          %td= link_to "変更", edit_book_path(book)
          %td= link_to "削除", book, method: :delete, data: { confirm: "本当に削除しますか?" }

= paginate books, previous_label: '<', next_label: '>', theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap"
