.navi-month
  = link_to "前の月", '', { class: "prevmonth-link", id: 'prev_month' }
  = "#{@target_month.year}年#{@target_month.month}月"
  = link_to "次の月", '', { class: "nextmonth-link", id: 'next_month' }
