- provide(:title, '家計簿の一覧')

.row
  .col-sm-8
    %p memo : 今月入力されたもの全件
  .col-sm-4
    = link_to "前の月", '', { class: "link_prev_month", id: 'prev_month' }
    = "#{@target_term.year}年#{@target_term.month}月"
    = link_to "次の月", '', { class: "link_next_month", id: 'next_month' }

= render 'shared/books', books: @books
