%li.dropdown
  %a{href: "#", class: "dropdown-toggle", 'data-toggle': "dropdown" }
    家計簿
    %b.caret

  %ul.dropdown-menu
    %li= link_to "一覧", books_path

    %li.dropdown-submenu
      %a{ href: "#" , class: "dropdown-toggle", 'data-toggle': "dropdown"}
        ユーザー別
      %ul.dropdown-menu
        - User.all.each do |user|
          %li= link_to user.name, user_path(user)
    %li.dropdown-submenu
      %a{ href: "#" , class: "dropdown-toggle", 'data-toggle': "dropdown"}
        口座別
      %ul.dropdown-menu
        - Account.all.each do |account|
          %li= link_to account.name, books_account_path(account)
    %li.dropdown-submenu
      %a{ href: "#" , class: "dropdown-toggle", 'data-toggle': "dropdown"}
        入出金の種類別
      %ul.dropdown-menu
        %li= link_to "入金一覧", report_deposit_path
        %li= link_to "税金一覧", report_tax_path
        %li= link_to "特別経費一覧", report_special_path 
    %li= link_to "カテゴリ別まとめ", report_categories_path
    %li= link_to "入出金別まとめ", report_deposit_payment_path
    %li= link_to "年間TSV", books_tsv_path

%li.dropdown
  %a{href: "#", class: "dropdown-toggle", 'data-toggle': "dropdown" }
    予算
    %b.caret
  %ul.dropdown-menu
    %li= link_to "一覧", budgets_path
    %li= link_to "生活費と残高", monthly_report_path
