%header.navbar.navbar-fixed-top.navbar-inverse.navbar-gray
  .container
    = link_to "account book", root_path, id: "logo"
    %nav
      %ul.nav.navbar-nav.navbar-right.navbar-collapse.collapse
        %li
          = link_to "Home", root_path
        - if logged_in?
          - if current_user.admin?
            = render 'layouts/header_admin_menu'
        %li
          = link_to "ヘルプ", help_path
        %li
          - if logged_in?
            = link_to "ログアウト", logout_path, method: :delete
          - else
            = link_to "ログイン",   login_path
